.DS_Store
/assignments/assignment1/data/
/assignments/assignment2/data/
/assignments/assignment3/data/
/assignments/assignment4/data/
/assignments/assignment5/data/
/assignments/assignment6/data/
/assignments/assignment7/data/

/assignments/assignment4/test_kaggle/
/assignments/assignment4/train_kaggle/